/* -*- coding: utf-8; mode: css; -*- */
/* Copyright 2020 Pradyumna Paranjape */
/* This file is part of home_server. */
/* */
/* home_server is free software: you can redistribute it and/or modify */
/* it under the terms of the GNU Lesser General Public License as published by */
/* the Free Software Foundation, either version 3 of the License, or */
/* (at your option) any later version. */
/* */
/* home_server is distributed in the hope that it will be useful, */
/* but WITHOUT ANY WARRANTY; without even the implied warranty of */
/* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the */
/* GNU Lesser General Public License for more details. */
/* */
/* You should have received a copy of the GNU Lesser General Public License */
/* along with home_server.  If not, see <https://www.gnu.org/licenses/>. */
/* */

:root {
    --bgcol:        #101018;
    --bghov:        #202029;
    --fgcol:        #7f7f8f;

    --navbar:       #000f28;
    --navbar-color: #404f68;

    --searchcol:    #3f7fff;
    --searchhov:    #7fbfff;

    --roottitle:    #ff1f4f;
    --roottitlehov: #ff5f7f;

    --brightgreen:  #3fff9f;

    --subtitle:     #ffff5f;
    --subtitlehov:  #ffff9f;

    --listcol:      #9f9fdf;
    --listodd:      #7f7fbf;
    --listhov:      #cfcfff;

    --danger:       #ff3000;
    --warning:      #ffb000;
}

